#pagewrap
  %header
    %h1 Chris, Luke, Ammar and Mae
  %content
    %h2 About page
    %p Our quest to learn programming to make this world a better place brought us to a small town in Finland called Fiskars.  Now Luke will put some columns and content here.  This is a responsive layout with one column, complete with responsive images and jquery slideshow.
  %footer
    %h4 All sorts of other stuff
    %p Some clickables and social media links
