.games
  %h1 Listing games
  .row
    -@games.each do |game|
      .col-3
        .card
          %img.card-img-top{:alt => "Card image cap", :src => "..."}/
          .card-body
          %h4.card-title= game.name
          %p.card-text= game.summary
        = link_to 'Show', game,class: "btn btn-primary"

= link_to 'New Game', new_game_path
