%h1 Create a new game!
%%p Lorem ipsum...

= simple_form_for(@game) do |f|

  =f.input :name, as: :text, placeholder: 'Enter the name of your game', label: false
  =f.input :summary , as: :text , input_html: {rows: 15} , placeholder: 'Give your game a brief description :)'
  =f.button :submit, class: 'btn-primary'

  = link_to 'Cancel', games_path , class: 'btn btn-outline-warning float-right'
