.container-fluid.footer
  .row
    .col-4
      %h4 About
      %p lorem ipsum...
      %p lorem ipsum...
    .col-4
      %h4 Menu
      %ul.list-group
        %li.list-group-item Lorem ipsum dolor sit amet
        %li.list-group-item Lorem ipsum dolor sit amet
        %li.list-group-item Lorem ipsum dolor sit amet
        %li.list-group-item Lorem ipsum dolor sit amet
    .col-4
      %h4 Social media
      = link_to "www.facebook.com" do
        =image_tag("fbicon.png")
        Visit us at Facebook
